header {
    padding: 40px;
    background-color: #E7E8EB;
}

#logo-container {
    display: flex;
    align-items: center;
    text-decoration: none;
}

#logo {
    max-width: 150px;
    margin-right: 10px;
}

#artist-name {
    font-size: 72px;
    color: #333;
}
