body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: left;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

/* Horizontal scrolling gallery */
.gallery {
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    width: 100%;
    max-height: 50vh; /* Restricts the gallery's height to 50% of the viewport height */
}

.gallery img {
    max-width: 100%;  /* Ensures image doesn't exceed container width */
    max-height: 100%;  /* Ensures image doesn't exceed container height */
    margin-right: 10px;
    object-fit: cover;  /* Ensures image maintains aspect ratio */
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    .gallery {
        max-height: 40vh;
    }
}

/* Introductory page styles */
.intro-page {
    height: 100vh;
    background-image: url('/assets/images/intro-bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-button {
    padding: 10px 20px;
    font-size: 1.5rem;
    background-color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.enter-button:hover {
    background-color: #f0f0f0;
}
