body {
    margin: 0;
    padding: 0;
    font-family: 'Kosugi', sans-serif;
    font-weight: 500;  /* Updated font-weight to 500 as CSS font-weight values are typically in increments of 100 */
    background-color: #E36564;
}

header {
    padding: 20px;  /* Reduced padding */
    background-color: #E7E8EB;
}

#logo-container {
    display: flex;
    align-items: center;
    text-decoration: none;
}

#logo {
    max-width: 100px;  /* Adjusted max-width */
    margin-right: 10px;
}

#artist-name {
    font-size: 36px;  /* Adjusted font-size */
    color: #333;
}

#horizontal-gallery {
    display: flex;
    overflow-x: auto;
    white-space: nowrap; /* Prevents wrapping onto new lines */
}

#horizontal-gallery img {
    max-width: 200px; /* or whatever maximum width you prefer */
    max-height: 200px; /* or whatever maximum height you prefer */
    height: auto;
    margin-right: 10px; /* Adjust spacing between images */
}

#store-gallery {
    display: flex;
    flex-wrap: wrap;
}

#store-gallery a {
    margin: 10px; /* Adjust spacing between store items */
}
